<div class="row">

<div class="col-md-8">

<h2><%= @project.name%> </h2>

<h4>Project Start Date: <%=@project.start_date%></h4>

 <b>Client: <%= @project.client.try(:name)%></b>
 <br>

<%if !@project.tasks.empty?%>
<div class="progress">
  <div class="progress-bar" role="progressbar progress-bar-success" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=@project.calc_completed%>%;"><%=@project.calc_completed.round%>%
  </div>
</div>
<%end%>

 <h3>Listing Tasks</h3>

 <ul>
 	<% @project.tasks.each do |task|%>
 		<li><%= task.title%> - <%= task.due_date%> - <%= task.is_complete%>
 		</li>
 	<%end%>	
 </ul>

 <h3>Listing Overdue Tasks</h3>
 <ul>
 	<% @project.overdue.each do |task|%>
 		<li><%= task.title%> - <%= task.due_date%> - <%= task.is_complete%>
 		<%= form_for task do |f|%>

 		<%= f.hidden_field :is_complete ,value: true%>
 		<%= f.submit "Mark as Complete"%>

 		<%end%>
 			<%#=link_to "Mark as Complete", tasks_mark_as_complete_path(task_id: task.id)%>
		</li>
 	<%end%>	
 </ul>

 <h3>Listing Incomplete Tasks</h3>
 <ul>
 	<% @project.incomplete.each do |task|%>
 		<li><%= task.title%> - <%= task.due_date%> - <%= task.is_complete%>
 			<%=link_to "Mark as Complete", tasks_mark_as_complete_path(task_id: task.id)%>
 		</li>
 	<%end%>	
 </ul>

 <h3>Listing Completed Tasks</h3>
 <ul>
 	<% @project.complete.each do |task|%>
 		<li><%= task.title%> - <%= task.due_date%> - <%= task.is_complete%>
 			<%=link_to "Mark as Incomplete", tasks_mark_as_incomplete_path(task_id: task.id)%>
 		</li>
 	<%end%>	
 </ul>

<% data = [] %>
<% @project.tasks.each do |task| %>
	<%data.push([task.title,@project.start_date.to_s,task.due_date.to_s])%>
<%end%>	


<%= timeline data%>

<%=link_to "Edit", edit_project_path(@project.id) %>
<%=link_to "Back", projects_path %>
<%=link_to "Destroy", project_path(@project.id), method: :delete, data: {confirm: "Are u sure ???"}  %>
</div><!-- col-md-8 ends -->

<div class="col-md-4">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTask">
  Add Task
</button>

<!-- Modal -->
<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
	     <%= form_for @task do |f|%>

		 <%= f.hidden_field :project_id ,value: @project.id%>
		<div class="form-group"> 
		 <%= f.label :title %>
		 <%= f.text_field :title, class:"form-control"%>
		 </div>

		<div class="form-group">
		 <%= f.label :due_date%>
		 <%= f.text_field :due_date, class:"form-control", id:"dueDate1"%>
		</div>
		 
		<div class="checkbox">
		 <label>		 	
		 	<%= f.check_box :is_complete%>
		 	<%= :is_completed%>?
		 </label>
		 
		</div> 

		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	<%=f.submit "Add Task",class:"btn btn-success"%>
        
        <%end%>
      </div>
    </div>
  </div>
</div>

</div><!-- col-md-4 ends -->

<div id="calendar">

</div>

</div> <!-- row ends -->


<%= render 'js'%>

<script>
$(document).ready(function(){
	$("#dueDate1").datepicker({
		"dateFormat" : "yy-mm-dd",
		"minDate" : -<%= (Date.today - @project.start_date).to_i %>,
		"maxDate" : <%=( @project.end_date - Date.today).to_i %>
	})
})
</script>

