<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<ul>
<%@room.bookings.each do |booking|%>
	<li><%=booking.start_date%> - <%=booking.end_date%></li>
<%end%>
</ul>

<h3>Check Availability</h3>
<%= form_for [@room,@booking] do |f|%>

<%=f.label :start_date%><br>
<%=f.date_select :start_date, order:[:day,:month,:year], date_year: Date.today.year%><br>

<%=f.label :end_date%><br>
<%=f.date_select :end_date, order:[:day,:month,:year], date_year: Date.today.year%><br>

<%=f.submit "Check Availability & Book"%>

<%end%>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
