<% restaurant = JSON.parse('{
  "R": {
    "res_id": 50663
  },
  "apikey": "7afbb7d97ebb773334d0d61ce8c4636a",
  "id": "50663",
  "name": "Mavalli Tiffin Room (MTR)",
  "url": "https://www.zomato.com/bangalore/mavalli-tiffin-room-mtr-basavanagudi?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
  "location": {
    "address": "14, Lalbagh Road, Mavalli, Near Basavanagudi, Basavanagudi, Bangalore",
    "locality": "Basavanagudi",
    "city": "Bangalore",
    "city_id": 4,
    "latitude": "12.9550488297",
    "longitude": "77.5857224688",
    "zipcode": "0",
    "country_id": 1
  },
  "cuisines": "South Indian",
  "average_cost_for_two": 250,
  "price_range": 1,
  "currency": "Rs.",
  "offers": [],
  "thumb": "https://b.zmtcdn.com/data/pictures/3/50663/825402e337805275cac7b605143ce2fe_featured_v2.jpg",
  "user_rating": {
    "aggregate_rating": "4.3",
    "rating_text": "Very Good",
    "rating_color": "5BA829",
    "votes": "2122"
  },
  "photos_url": "https://www.zomato.com/bangalore/mavalli-tiffin-room-mtr-basavanagudi/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop",
  "menu_url": "https://www.zomato.com/bangalore/mavalli-tiffin-room-mtr-basavanagudi/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop",
  "featured_image": "https://b.zmtcdn.com/data/pictures/3/50663/825402e337805275cac7b605143ce2fe_featured_v2.jpg",
  "has_online_delivery": 0,
  "is_delivering_now": 0,
  "deeplink": "zomato://restaurant/50663",
  "has_table_booking": 0,
  "events_url": "https://www.zomato.com/bangalore/mavalli-tiffin-room-mtr-basavanagudi/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1"
}
 ')
%>

<% reviews = JSON.parse('{
  "reviews_count": 846,
  "reviews_start": 0,
  "reviews_shown": 5,
  "user_reviews": [
    {
      "review": {
        "rating": 4,
        "review_text": "I love this place. The breakfast here is perhaps the best in the city. Must try items in the breakfast menu include their masala dosa, khara bath, dahi vada and a nice hot cup of authentic coffee. Been to multiple breakfast joints in town but none come even close to MTR in quality, taste and consistency.",
        "id": "28706647",
        "rating_color": "5BA829",
        "review_time_friendly": "2 days ago",
        "rating_text": "Great!",
        "timestamp": 1478957858,
        "likes": 2,
        "user": {
          "name": "Nanditha R",
          "foodie_level": "Big Foodie",
          "foodie_level_num": 7,
          "foodie_color": "ffae4f",
          "profile_url": "https://www.zomato.com/users/nanditha-r-764283?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/8b4/e44f1ffbeed21a69257a3c76c268c8b4.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/764283"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 2,
        "review_text": "Had been there for the first time with loads of expectations. Sat on the first floor.  1. Over rated and expensive. Nothing special. Only thing is they serve tea in a silver cup. 2. Dosa - Ordered Rice Masala dosa. Got rava masala. Any way, mistake happens. Concern is the taste. All say MTR is the best etc etc. I feel nothing great about a masala dosa there. Shanti Sagar or New Sagar in Banashankari Serves better masala dosa for less than half the price. 3. Tea - Worst tea I had in some time. It...",
        "id": "28692352",
        "rating_color": "FF7800",
        "review_time_friendly": "4 days ago",
        "rating_text": "Blah!",
        "timestamp": 1478783612,
        "likes": 0,
        "user": {
          "name": "VijayRaj Bhat",
          "foodie_level": "Foodie",
          "foodie_level_num": 3,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/vijayraj-bhat-33566670?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/images/user_avatars/pizza_2x.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/33566670"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4,
        "review_text": "Been this place couple of times. Rawa Idli Rawa Dosa & Masala Dosa are must try. Chutney is great.  Prices are Little high as compared because MTR is big brand now.  Overall Food is good.",
        "id": "28690135",
        "rating_color": "5BA829",
        "review_time_friendly": "5 days ago",
        "rating_text": "Great!",
        "timestamp": 1478758455,
        "likes": 0,
        "user": {
          "name": "Gaurav Sharma",
          "foodie_level": "Foodie",
          "foodie_level_num": 3,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/gaurav-sharma-31739043?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/6cd/fcf0864504be6f78312ca6ffee8986cd.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/31739043"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4.5,
        "review_text": "Wt to say.... 😅, I wish I had a huge tummy and dollars in my pants... Taste was sexy....  And rava idle sliced tomato on top,... Masala dosa, uddin vada.... No words, trying is the policy",
        "id": "28689863",
        "rating_color": "3F7E00",
        "review_time_friendly": "5 days ago",
        "rating_text": "Loved it!",
        "timestamp": 1478753769,
        "likes": 1,
        "user": {
          "name": "Manoj Sunday",
          "foodie_level": "Super Foodie",
          "foodie_level_num": 10,
          "foodie_color": "f58552",
          "profile_url": "https://www.zomato.com/users/manoj-sunday-16633996?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/e15/d0776747a12bf7efdce91e48075ace15.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/16633996"
        },
        "comments_count": 0
      }
    },
    {
      "review": {
        "rating": 4,
        "review_text": "Visited this place for the very first time, that to on a Sunday . Must say this place is a really crowded one and made me wait around an hour to get a table. But it was worth all the wait and hype.  Ordered a number of dishes right from the starter Dahi vada to the Special Coffee in the end, and all were simply amazing one after the other. But the Star of the show being their awesome chutney.",
        "id": "28666915",
        "rating_color": "5BA829",
        "review_time_friendly": "8 days ago",
        "rating_text": "Great!",
        "timestamp": 1478452188,
        "likes": 0,
        "user": {
          "name": "Ankit Mehta",
          "foodie_level": "Foodie",
          "foodie_level_num": 2,
          "foodie_color": "ffd35d",
          "profile_url": "https://www.zomato.com/users/ankit-mehta-30312577?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1",
          "profile_image": "https://b.zmtcdn.com/data/user_profile_pictures/411/500ebcd7f2cab4a3ca66f7d4e0da4411.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A",
          "profile_deeplink": "zomato://u/30312577"
        },
        "comments_count": 0
      }
    }
  ],
  "Respond to reviews via Zomato Dashboard": "https://www.zomato.com/business/claim?ref=rpg&resid=50663#claim"
}')%>

<br/>
<h1><%= restaurant["name"] %></h1><br>
<%= image_tag(restaurant["thumb"]) %><br>
<ul>
<li><b>Name: </b><%= restaurant["name"] %></li><br>
<li><b>Visit: </b><%= link_to "#{restaurant["url"]}", restaurant["url"] %></li><br>
<li><b>Address: </b><%= restaurant["location"]["address"]%> - <%= restaurant["location"]["locality"]%> - <%= restaurant["location"]["city"]%> - <%= restaurant["location"]["zipcode"]%></li><br>
<li><b>Cuisines: </b><%= restaurant["cuisines"] %></li><br>
<li><b>Average Cost for Two: Rs</b><%= restaurant["average_cost_for_two"] %>/-</li><br>
<li><b>User Ratings: </b><%= restaurant["user_rating"]["aggregate_rating"] %> - <%= restaurant["user_rating"]["votes"] %> votes </li><br>
<%if !restaurant["has_online_delivery"]%>
  <li><b>Delivers Online</b></li><br>
 <%else%>
  <li><b>No Online Delivery</b></li><br>
<%end%> 
<%if !restaurant["is_delivering_now"]%>
  <li><b>Delivering Now</b></li><br>
 <%else%>
  <li><b>No Delivery at this time</b></li><br>
<%end%> 
<%if !restaurant["has_table_booking"]%>
  <li><b>Book your tables here</b></li><br>
 <%else%>
  <li><b>Sorry!! No table bookings, visit us directly</b></li><br>
<%end%> 
<li><b>Events: </b><%=link_to restaurant["events_url"], restaurant["events_url"]%></li><br>

</ul>


<!-- Reviews Section -->

<h3>Reviews of <%=restaurant["name"]%></h3>
<h4>Total Reviews are: <%=reviews["reviews_count"]%></h4>

<ol>
<%reviews["user_reviews"].each do |user_review|%>
  

  <li><h3><%=user_review["review"]["rating_text"]%></h3><br>
    <ul>
      <li><b>Rating: </b><%=user_review["review"]["rating"].to_s%></li><br>
      <li><b>Review: </b><%=user_review["review"]["review_text"]%></li><br>
      <li><b>Likes: </b><%=user_review["review"]["likes"].to_s%></li><br>
      <li><b>Comments: </b><%=user_review["review"]["comments_count"].to_s%></li>     
    </ul>
    <h3>About Reviewer:</h3>
      <ul>
        <li><b>Name: </b><%=user_review["review"]["user"]["name"]%></li><br>
        <li><b>Foodie Level: </b><%=user_review["review"]["user"]["foodie_level"]%></li><br>
        <li><b>View Profile: </b><%=link_to user_review["review"]["user"]["profile_url"],user_review["review"]["user"]["profile_url"]%></li><br>
        <%= image_tag(user_review["review"]["user"]["profile_image"]) %><br><br>
      </ul>
  </li>

<%end%>
</ol>
















